// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    text-align: center;
    margin: 25px;
}

table {
    font-size: 24pt;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 50%;
}